@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: toRem(60);
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.mainScreen {
  padding-top: toRem(60);
  display: flex;
  gap: 3px;

  align-items: center;

  .mainScreenLeft {
    h1 {
      margin: 0;
      width: 100%; ;
      font-size: 48px;
      font-weight: 700;
      line-height: 55px;
      font-family: Roboto;
      color: #525252;
    }

    .mainRef {
      text-decoration: none;
      margin-top: 30px;
      display: inline-flex;
      padding: 13px 25px;
      justify-content: center;
      align-items: center;
      gap: 15px;
      border-radius: 9px;
      background-color: #026;
      color: #fff;
      width: 100%; // Занимает всю доступную ширину
      box-sizing: border-box;
      img {
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: translateX(5px);
        }
      }
    }
  }
  .mainScreenRight {
    width: 620px;
    height: 511px;
  }
}

.products {
  .popularProduct {
    margin-top: toRem(60);
    margin-bottom: 40px;

    color: #026;
    font-family: Roboto;
    font-size: 32px;

    font-weight: 700;
    line-height: 24px;
  }
  .productsCard {
    margin-bottom: toRem(40);
  }
}

@media (max-width: 440px) {
  .mainScreenLeft {
    h1 {
      font-size: 32px;
      
      line-height: 36px;
    }

    .mainRef {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
}

