.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 260px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: red;
    z-index: 1000;
    position: absolute;
    right: 83px;
    top: 100px;

    .closeButton {
     margin-right: 20px;
    }
    
  
    .phone {
      font-size: 18px;
      font-weight: bold;
    }
  
    .email {
      font-size: 16px;
      font-weight: bold;
    }
  }
  
  